@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
body {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #4e5d6a;
  font-family: 'Open Sans Condensed', sans-serif;
  // font-weight: 700;
  margin: 0 auto;
  // max-width: 75%;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 60vw;
  padding: 10px;
  margin-right: 0;
  padding-top: 10rem;
}
.right {
  display: flex;
  min-width: 500px;
  max-width: 600px;
  padding-top: 20rem;
  margin-left: 0;
  padding-left: 0;
  align-items: center;
}
.addTask {
  width: 100%;
  display: flex;
}
.addTask > input[type='text'] {
  width: 100%;
  color: rgb(51, 51, 51);
  border: none;
  border-bottom: 2px solid gray;
  background: none;
  padding: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  outline: none;
}
.addTask button {
  margin: 10px;
  background: rgb(158, 166, 157);
  color: rgb(252, 252, 252);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
#reset {
  margin: 10px;
  background: rgb(158, 166, 157);
  color: rgb(252, 252, 252);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  width: 40rem;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
#delete {
  margin: 10px;
  background: rgb(158, 166, 157);
  color: rgb(252, 252, 252);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.notCompleted,
.Completed,
.Categories {
  min-width: 600px;
  max-width: 100%;
  margin-right: 15rem;
}
h3,
.holder {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 10px;
  color: #fff;
}
ol {
  list-style: none;
  li {
    color: white;
    font-weight: 800;
    width: 100%;
    padding: 20px;
    margin: 5px 0;
    font-size: 1rem;
    border-radius: 15px;
    .btn {
      float: right;
      padding: 5px;
      font-size: 1rem;
      // line-height: 2rem;
      margin-right: 15px;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        color: black;
      }
    }
  }
  &.Completed li {
    background-color: #7bed8d;
    border: 1px solid black;
    text-decoration: line-through;
    text-decoration-color: rgba(3, 3, 3, 0.527);
    color: #748a9d;

    box-shadow: 4px 6px 5px -2px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      font-size: 2rem;
    }
  }
  &.Categories li {
    background-color: rgb(254, 94, 94);
    border: 1px solid black;
    box-shadow: 4px 6px 5px -2px rgba(0, 0, 0, 0.75);

    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      font-size: 2rem;
    }
  }
  &.notCompleted li {
    background-color: #a6bcd0;
    border: 1px solid black;
    box-shadow: 4px 6px 5px -2px rgba(0, 0, 0, 0.75);
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      font-size: 2rem;
    }
  }
}

.checkStyle {
  margin-left: 1rem;
  color: rgba(255, 255, 255, 0.39);
}
.strike {
  text-decoration: line-through;
  text-decoration-color: rgba(255, 255, 255, 0.37);
}
.capital {
  text-transform: capitalize;
}
.category-list {
  // padding: 1rem;
  font-size: 1rem;
  padding-right: 5rem;
  color: rgb(86, 86, 86);
  text-transform: capitalize;
}
.itemHover {
  &:hover {
    font-size: 3rem;
  }
}
.black {
  color: black;
}
#add-button,
#reset {
  background-color: transparent;
}
#add-button:hover,
#reset:hover {
  transform: scale(1.05);

  color: red;
}
