<nav>
  <div class="site-title">
    <a href="/"><h1>Recipe App</h1></a>
    <p>Make Something Great</p>
  </div>
  <ul>
    <li><a href="/">recipes</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/recipes/create">New recipe</a></li>
  </ul>
</nav>