<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="recipe-container">
      <div class="create-recipe content">
        <form action="/recipes" method="POST">
          <label for="title">Recipe Name:</label>
          <input type="text" id="title" name="name" required />
          <label for="category">Category:</label>
          <input type="text" id="category" name="category"  />
          <label for="snippet">Ingredients: (seperate by comma)</label>
          <input type="text" id="ingredients" name="ingredients" required />
          <label for="body">Directions:</label>
          <textarea id="body" name="directions" required></textarea>
          <button>Submit</button>
        </form>
      </div>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
